# Aztec and Noir/Nargo
target/
src/artifacts/
codegenCache.json

# Secret files
.env
.env.local
.env.bak

# Node modules
node_modules/
bun.lockb
package-lock.json
yarn.lock

# Others
log/
.vscode
.DS_Store
.cursor

# Aztec SC related
pxe-test-vault/
pxe-test-x402/

# Aztec SC test 
test-output.log

